<h1>General Help Section</h1>
<h2>Ramp Violations</h2>
<h3>How can I find the slope of a ramp ?</h3>
<p><a href="https://mobilitybasics.ca/wheelchair-ramps/slope1">Please visit this site and follow guidline</a></p>
<h4>How can I assess the severity of a ramp slope violation ? </h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>>=0,083(1/12)</td>
                    <td>>=0,09(1/11)</td>
                    <td>>=0,1(1/10)</td>
                    <td>>=0,11(1/9)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>How can I assess the severity of a ramp width violation ? </h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=915mm</td>
                    <td><=890mm</td>
                    <td><=850mm</td>
                    <td><=830mm</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<h2>Architectural Violations</h2>
<h4>How can I assess the severity of a street drain gap violation ?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>>=13 mm</td>
                    <td>>=14 mm</td>
                    <td>>=15 mm</td>
                    <td>>=16 mm</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<h2>Car Parking Area Violations</h2>
<h3>What should be car parking area capacities for disabled people ?</h3>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>For Employee</th>
                    <th>For Visitors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Existing Bussiness Centers</td>
                    <td>For all known disabled people</td>
                    <td>%2 of total park area capacity(Minimum 1)</td>
                </tr>
                <tr>
                    <td>Bussiness Centers To Be Build</td>
                    <td>%5 of total park area capacity</td>
                    <td>%5 of total park area capacity</td>
                </tr>
                <tr>
                    <td>Entertainment Centers</td>
                    <td>For all known disabled people</td>
                    <td>%6 of total park area capacity</td>
                </tr>
                <tr>
                    <td>Railway Metro</td>
                    <td>For all known disabled people</td>
                    <td>%5 of total park area capacity</td>
                </tr>
                <tr>
                    <td>Temple</td>
                    <td>For all known disabled people</td>
                    <td>%2 of total park area capacity(Minimum 1)</td>

                </tr>
                <tr>
                    <td>Existing Bussiness Centers</td>
                    <td>For all known disabled people</td>
                    <td>Minimum 2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<h2>Bus Station Violations</h2>
<h4>How can I assess the severity of a inner city bus station's back end distance to road  ?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=3.0 m</td>
                    <td><=2.5 m</td>
                    <td><=2.0 m</td>
                    <td><=1.5 m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>How can I assess the severity of a inner city bus station's back end distance to road facade  ?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=3.0 m</td>
                    <td><=2.5 m</td>
                    <td><=2.0 m</td>
                    <td><=1.5 m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>How can I assess the severity of a country bus station's ramp width ?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=2 m</td>
                    <td><=1.8 m</td>
                    <td><=1.5 m</td>
                    <td><=1.3 m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>How can I assess the severity of pedestrian walk area width violation ?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=1.5 m</td>
                    <td><=1.3 m</td>
                    <td><=1.2 m</td>
                    <td><=1.0 m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<h2>Street Decoration Violations</h2>
<h4>How can I assess the severity of signboard height violation?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=2.3 m</td>
                    <td><=2.2 m</td>
                    <td><=2.1 m</td>
                    <td><=2.0 m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>How can I assess the severity of garbage can height violation?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=1.3 m</td>
                    <td><=1.2 m	</td>
                    <td><=1.1 m</td>
                    <td><=1.0 m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
<h2>Building Reachability Violations</h2>
<h4>How can I assess the severity of Safety Rail Height violation?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>>1000 mm</td>
                    <td>>=1200mm</td>
                    <td>>=1400mm</td>
                    <td>>=1500mm</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>How can I assess the severity of Safety Rail Width violation?</h4>
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Low Severity</th>
                    <th>Medium Severity</th>
                    <th>High Severity</th>
                    <th>Critical Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>=1.5 m</td>
                    <td><=1.4m</td>
                    <td><=1.2m</td>
                    <td><=1.0m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>